
<div class="container bg-secondary  bg-opacity-25 border border-2 bg-gradient border-secondary text-center mt-5 mb-2 p-3 " id="chat">
    <h3  class="m-2 border border-2  " >CHAT</h3>
    <button class="d-none"  id="deleteChat">🗑 DELETECHAT</button>
  
    <form class="container m-3 ">
      <div class="row d-flex justify-content-center align-items-center">
      <div class=" d-none " id="messagesBox" ></div>
  
      </div>
  
      <div class="row  d-flex justify-content-center align-items-center ">
        <div class="col-auto">
          <i id="validationAutor"></i> <label for="inputEmail" class="col-form-label ms-2"> Email </label>
        </div>
        <div class="col-auto me-3">
          <input   type="text" class="form-control   text-dark bg-light bg-opacity-25" id="autorEmail" />
        </div>
       
        <div class="col-auto ms-3">
          <i id="validationMessage">  </i><label for="inputMessage" class="col-form-label ms-3"> message</label>
        </div>
        <input type="text" class="d-none" id="theme" value="white" />
  
        <div class="col-auto">
          <input   type="text" class="form-control  bg-light bg-opacity-25 text-dark " id="message" />
        </div>
        <div class="col-auto">
          <button disabled class="btn btn-primary ms-5" type="submit" id="submit">
            <a href="#chat" class="w-50 text-decoration-none text-light"
              >Enviar</a
            >
          </button>
        </div>
      </div>
    </form>
  </div>