

<div
  class="container chatBody border-2 border-secondary text-center   "
>
 
  <button class="d-none" id="deleteChat"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash mb-1 me-2 ms-2" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg>DELETE CHAT</button>

  <form class="container m-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="d-none " id="messagesBox"></div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-auto">
        <i id="validationAutor"> </i
        ><label
          for="inputEmail"
          class="col-form-label labelChat"
          >User</label
        >
      </div>
      <div class="col-auto me-3">
        <input
          type="text"
          class="inputChat"
          id="autorEmail"
          value="<%= uID.userName %> "

        />
      </div>
      <div class="col-auto ms-3">
        <i id="validationMessage"> </i
        ><label
          for="inputMessage"
          class="col-form-label labelChat"
          >message</label
        >
      </div>

      <div class="col-auto">
        <input
          type="text"
          class="inputChat"
          id="message"
        />
      </div>
      <div class="col-auto">
        <button disabled class="btn buttonSendDisabled  " type="submit" id="submit">
          <a class="w-50">Send</a>
        </button>
      </div>
    </div>
  </form>
</div>
